#footer {
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  text-align:center;
}

.clr10{
	margin-bottom:10px;
	clear:both;
}

div.info{
    font-size:12px;
}

